.individual_timer {
	padding: 1rem 0.1rem;
}
.individual_timer .firstrow {
	text-align: center;
	font-size: 2em;
}
.remaining {
	display: flex;
}

#add_forms {
	padding: 1rem 0.1rem;
}
#add_forms .inner_form {
	padding-bottom: 1rem;
}
