body {
	display: flex;
	justify-content: center;
	margin: 0;
}
main {
	max-width: 50ch;
	min-width: 35ch;
	margin-top: 1ch;
}

.individual_timer {
	padding: 1rem 0.1rem;
	margin: 0.5rem 0rem;
	border-radius: 1.5rem;
	border: 1px solid black;
}
.individual_timer .firstrow {
	text-align: center;
	font-size: 2em;
}
.remaining {
	display: flex;
}

#add_forms {
	padding: 1rem 0.1rem;
}
#add_forms .inner_form {
	padding-bottom: 1rem;
}
