/* Prevent mobile browsers from zooming in when you focus a text input box
 * https://www.cssjunction.com/css/stop-zoom-in-on-input-focus-on-mobile-devices/
 */
:root {
	--text-col: #37371F;
	--bg-col: #EAEFBD;

	--light-green: #C9E3AC;
	--dark-green: #90BE6D;
	--orange: #EA9010;
}
@font-face {
  font-family: wheaton;
  src: url(wheaton-capitals.capitals-regular.woff2);
}
html, input, button {
	font-family: wheaton;
}

html {
	background-color: var(--bg-col);
	color: var(--text-col);
}

button {
	background-color: var(--dark-green);
	padding: 0.2rem 0.4rem;
	border-radius: 7px;
	border: 1px solid black;
	box-shadow: 3px 4px var(--text-col);
}
button:hover {
	background-color: #3e8e41
}

button:active {
	transform: translate(2px, 3px);
	box-shadow: 1px 1px;
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}
main {
	max-width: 50ch;
	min-width: 35ch;
	margin-top: 1ch;

	display: flex;
	flex-direction: column;
}

.center-children {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.individual_timer {
	padding: 1rem 0.1rem;
	margin: 0.5rem 0rem;
	border-radius: 1.5rem;
	border: 1px solid black;
}
.individual_timer .firstrow {
	text-align: center;
	font-size: 2em;
}
.remaining {
	display: flex;
}

#add_forms {
	padding: 1rem 0.1rem;
}
#add_forms .inner_form {
	padding-bottom: 1rem;
}
.inputs_row, .inputs_row input {
	font-size: 1.2rem;
}
